/*  aboutUs */
* {
    box-sizing: border-box;
}

.aboutUs {
    color: black;
}

.aboutUs__title {
    margin-top: 144px;
    font-weight: 500;
    font-size: 36px;
}

.aboutUs__block {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.line::before {
    content: '';
    display: block;
    width: 9px;
    height: 100%;
    background-color: #FFA800;
}

.aboutUs__text {
    margin-left: 19px;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
}

.aboutUs__text p:not(:first-child) {
    margin-top: 1em;
}

/*advantages*/

.advantages {
    margin-top: 127px;
    background-image: url(../../img/how-its-work-img.png);
    background-color: #FFA800;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.advantag__header {
    margin-top: 90px;
    margin-bottom: 107px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advantag__link {
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
}

.advantag__know {
    height: 60px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #E5E5E5;
}

.advantag__know:hover {
    background-color: #FFCA62;
    color: #2D2B2F;
}

.advantag__know:focus {
    background-color: #FFFFFF;
    ;
    color: #2D2B2F;
}

.advantag__content {
    width: 906px;
    margin-top: 120px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.advantag__options {
    width: 226px;
    text-align: center;
}

.advantag__item__1,
.advantag__item__2,
.advantag__item__3 {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.advantag__item__1 img,
.advantag__item__2 img,
.advantag__item__3 img {
    width: 162px;
    height: 162px;
    margin-top: auto;
    margin-bottom: auto;
}

.advantag__item-description {
    font-size: 1.5em;
    font-weight: 300;
}

/*feedbacks*/

.feedbacks {
    color: #292929;
    margin-top: 132px;
    margin-bottom: 122px;
}

.feedbacks-title-h2 h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
}

.feedbacks-items__item {
    display: flex;
    flex-direction: row;
}

.feedbacks-items__item__img {
    width: 200px;
}

.feedbacks-items__item__img img {
    border-radius: 50%;
}

.feedbacks-items__item__text {
    width: 400px;
    margin-left: 25px;
}

.feedbacks-items__item__text__title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
}

.feedbacks-items__item__text-p {
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    color: #928F94;
}