/* main-container */

.main-container {
    display: flex;
    width: 1410px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-content {
    width: 30%;
    padding: 100px 0 0 0px;
    margin-bottom: 150px;
}

/*filters */

.filters-container {
    width: 360px;
    background: #3e3c41;
}

.filters-container h2 {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    color: #ffffff;
    padding-left: 24px;
}

.dateFilter {
    padding: 24px 0 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.dateFilter_input {
    width: 295px;
    height: 43px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #e5e5e5;
    border-radius: 3px;
    margin-left: 22px;
    padding-left: 20px;
    border-width: 0px;
}

.filter_departure-date,
.filter_departure-date-back {
    background-image: url(../img/icons/date-vector.png);
    background-repeat: no-repeat;
    background-position-x: 275px;
    background-position-y: center;
}

.options-list {
    list-style: none;
    padding: 0 0 0 70px;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
}

.options-list li {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 18px 0 18px 0;
}

.options-list li p {
    color: #ffffff;
}

.options-list p {
    margin: 0;
    width: 80px;
}

.coupe-vector {
    width: 17px;
    height: 17px;
    background: url(../img/icons/css_sprites.png) -839px -193px;
}

.platzKarte-vector {
    width: 17px;
    height: 17px;
    background: url(../img/icons/css_sprites.png) -839px -136px;
}

.seat-vector {
    width: 14px;
    height: 23px;
    background: url(../img/icons/css_sprites.png) -785px -160px;
}

.seat-vector p {
    color: #e4e0e9
}

.luxury-vector {
    width: 22px;
    height: 20px;
    background: url(../img/icons/css_sprites.png) -208px -680px;
}

.wifi-vector {
    width: 24px;
    height: 19px;
    background: url(../img/icons/css_sprites.png) -292px -550px;
}

.express-vector {
    width: 20px;
    height: 20px;
    background: url(../img/icons/css_sprites.png) -270px -680px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 72px;
    height: 19px;
    margin: 0 30px 0 50px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c4c4c4;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    top: -4px;
    content: "";
    height: 26px;
    width: 26px;
    background-color: #ffffff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #fcdc9d;
}

input:checked+.slider:before {
    background-color: #ffa800;
    top: -4px;
}

input:checked+.slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.price-filter {
    margin: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #ffffff;
}

.price-filter-title,
.time-filter-main_title {
    width: 160px;
    padding: 30px 0 10px 30px;
    margin: 0;
}

.start-cost-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #ffffff;
    padding-left: 30px;
}

.max-cost-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #ffffff;
    padding-left: 245px;
}

.circle-container {
    position: relative;
    width: 294px;
    padding: 10px 0 10px 0;
    margin-left: 30px;
}

.circle-1,
.circle-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 5;
}

.circle-1 {
    top: 4px;
    left: 0px;
}

.circle-2 {
    top: 4px;
    right: 0px;
}

.line-gray,
.timeline-gray {
    position: relative;
    width: 294px;
    height: 19px;
    top: -5px;
    margin: 0 auto;
    border-radius: 8px;
    background: #3e3c41;
    border: 1px solid #c4c4c4;
}

.line-colored,
.timeline-colored {
    position: absolute;
    top: 6px;
    height: 19px;
    background: #ffa800;
}

.cost-container {
    display: flex;
    flex-direction: row;
    width: 294px;
    margin-left: 30px;
}

.start-cost,
.limit-cost,
.max-cost {
    position: relative;
    width: 44px;
    height: 23px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #e5e5e5;
}

.max-cost {
    left: 171px;
}

.departure_time-filters_container,
.departure-back_time-filters_container {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 30px;
}

.time-filter_title-container {
    display: flex;
    justify-content: space-between;
}

.time-filter-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    color: #ffffff;
    padding: 10px 0 10px 30px;
    margin: 0;
}

.arrival-title {
    padding-left: 135px;
}

.time-container {
    width: 299px;
}

.time-circle-1,
.time-circle-2 {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 5;
}

.time-circle-1 {
    top: 2px;
    left: 0px;
}

.time-circle-2 {
    top: 2px;
    right: 0px;
}

.timeline-gray {
    width: 299px;
    height: 10px;
    top: -5px;
}

.timeline-colored {
    top: 6px;
    height: 10px;
}

.arrival-vector {
    width: 32px;
    height: 26px;
    background-color: #ffa800;
    background-image: url(../img/icons/css_sprites.png);
    background-position: -830px -241px;
    border-radius: 5px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin: 0 9px 0 0;
}

.departure-vector {
    width: 32px;
    height: 26px;
    background-color: #ffa800;
    background-image: url(../img/icons/css_sprites.png);
    background-position: -830px -241px;
    border-radius: 5px;
    margin: 0 9px 0 0;
}

.closeUP-vector {
    width: 20px;
    height: 20px;
    background: url(../img/icons/css_sprites.png) -390px -680px;
    margin: 38px 18px 0 0px;
}

.overlooked-tickets {
    margin-top: 95px;
}

.overlooked-tickets h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
}

.overlooked-tickets ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.overlooked-ticket {
    display: flex;
    width: 360px;
    height: 161px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(62, 60, 65, 0.25);
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.point-name,
.point-station {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    text-transform: capitalize;
    color: #292929;
}

.point-station {
    font-size: 16px;
    width: 115px;
}

.departure-point,
.arrival-point {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.departure-point {
    padding: 15px 0 0 15px;
    align-items: flex-start;
}

.arrival-point {
    padding: 15px 15px 0 0;
    align-items: flex-end;
}

.arrival-point .point-station {
    text-align: end;
}

.train-comfort-props {
    padding-left: 15px;
}

.comfort-props_vector {
    display: flex;
    width: 92px;
    height: 20px;
    /* background: url(../img/icons/css_sprites.png) -20px -550px; */
}

.comfort-props_vector_item {
    margin-left: 10px;
    font-size: 1.6em;
}

.overlooked-ticket-price {
    display: flex;
    padding-right: 15px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: right;
    color: #928f94;
    align-items: baseline;
}

.ticket-price {
    font-weight: bold;
    line-height: normal;
    font-size: 36px;
    color: #ffa800;
    padding: 0 5px 0 5px;
}

.total-price {
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-size: 48px;
    color: #ffa800;
}

.rub-vector {
    display: flex;
    width: 20px;
    height: 25px;
    margin-left: 5px;
    background: url(../img/icons/css_sprites.png);
}

.trains {
    width: 67%;
    padding: 100px 0 100px 0px;
}

.trains_head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.trains_head p {
    margin: 0;
}

.trains-list_section-title,
.trains-list_sort-by,
.trains-list_show-by {
    display: flex;
    align-items: baseline;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    color: #928f94;
    margin: 0;
}

.trains-amount {
    padding-left: 5px;
}

.trains-list_section-title {
    padding-right: 345px;
}

.show-by-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.show-by-list li {
    padding-left: 10px;
}

.show-by-list li:hover {
    color: #292929;
}

.show-by-list li:active {
    color: #ffa800;
}

.sorting {
    background-color: transparent;
}

.trains-list {
    list-style: none;
    padding: 0;
}

.train {
    display: flex;
    width: 959px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.train:hover {
    border: 1px solid #ffa800;
}

.train-description-wrap {
    width: 197px;
    background-color: #e4e0e9;
    text-transform: capitalize;
}

.train-description {
    position: relative;
    top: 15%;
}

.train-vector {
    display: flex;
    width: 86px;
    height: 86px;
    background: url(../img/icons/css_sprites.png) -20px -424px;
    margin: auto;
}

.train-number,
.train-departure-time,
.train-departure-point,
.train-departure-station,
.travel-time {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #3e3c41;
    margin: 0;
}

.train-route {
    align-items: baseline;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #292929;
    padding: 0 0 0 30px;
}

.train-route li {
    display: flex;
    align-items: baseline;
}

.train-route :nth-child(1) {
    color: #928f94;
}

.arrow-vector {
    display: flex;
    width: 24px;
    height: 8px;
    background: url(../img/icons/css_sprites.png) -839px -250px;
    margin-left: 5px;
}

.train-travel_time-scheme-wrap {
    width: 479px;
    text-transform: capitalize;
}

.train-shipment-scheme,
.train-shipment-reverse-scheme {
    display: flex;
    justify-content: space-between;
}

.train-departure-time-wrap,
.travel-time-wrap,
.train-arrival-time {
    display: flex;
    flex-direction: column;
}

.train-departure-time {
    text-align: start;
    color: #000000;
}

.train-departure-point {
    text-align: start;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
}

.train-departure-station {
    text-align: start;
    font-weight: normal;
    font-size: 16px;
    color: #c4c4c4;
    width: 152px;
}

.travel-time-wrap {
    padding-right: 20px;
}

.travel-time {
    font-weight: normal;
    font-size: 18px;
    color: #c4c4c4;
}

.train-shipment-scheme {
    padding: 50px 50px 25px 40px;
}

.train-shipment-reverse-scheme {
    padding: 25px 50px 50px 40px;
}

.travel-time-vector {
    display: flex;
    width: 30px;
    height: 20px;
    background: url(../img/icons/css_sprites.png) -152px -550px;
    margin-top: 5px;
}

.travel-time-vector-reverse {
    display: flex;
    width: 30px;
    height: 20px;
    background: url(../img/icons/css_sprites.png) -222px -550px;
    margin-top: 5px;
}

.train-place-prices ul {
    padding: 0;
    list-style: none;
}

.train-place-prices li {
    display: flex;
    align-items: baseline;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    color: #3e3c41;
    justify-content: space-between;
    margin-top: 20px;
}

.type {
    width: 80px;
}

.seats {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    color: #ffa800;
    width: 30px;
    margin: 0 15px 0 30px;
}

.place-ticket-price {
    display: flex;
    text-align: start;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    color: #2d2b2f;
    width: 90px;
    align-items: baseline;
    margin-left: 5px;
}

.rub-vector-small {
    display: flex;
    width: 16px;
    height: 19px;
    background: url(../img/icons/css_sprites.png) -839px -77px;
    margin-left: 5px;
}

.train-comfort-available-props {
    padding-right: 15px;
    padding-top: 24px;
    justify-content: flex-end;
    display: flex;
}

.select-seats {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    width: 228px;
    height: 39px;
    background: #ffa800;
    border-radius: 5px;
    border-width: 0px;
    margin: 24px 0 24px 24px;
}

.select-seats:hover {
    background: #ffa800;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.select-seats:active {
    background: transparent;
    border: 1px solid #ffa800;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #ffa800;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.angle-back,
.angle-forward {
    width: 84px;
    height: 75px;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
}

.angle-back:hover,
.angle-forward:hover {
    border: 2px solid #ffa800;
}

.angle-back:active,
.angle-forward:active {
    background-color: #ffa800;
}

.angle-back {
    background: url(../img/icons/pagination-angle-back.png) 30px 20px;
    background-repeat: no-repeat;
}

.angle-forward {
    background: url(../img/icons/pagination-angle-forward.png) 30px 20px;
    background-repeat: no-repeat;
    margin-left: 35px;
}

.pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.page {
    width: 84px;
    height: 75px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    color: #928f94;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 35px;
}

.page:hover {
    color: #ffa800;
    border: 2px solid #ffa800;
}

.active-page {
    width: 84px;
    height: 75px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    color: #928f94;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    margin-left: 35px;
    color: #ffffff;
    background-color: #ffa800;
    border-radius: 5px;
}